# =========================
# ENV FILES (SECRET)
# =========================
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# VIRTUAL ENV
# =========================
venv/
.env/
# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/